<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rescue.team.dao.TaskDao">

    <insert id="insertTask" parameterType="com.rescue.team.bean.Task">
        INSERT INTO rescue_task
        VALUES (#{tid},#{code},#{start},#{end},#{eid},#{description},#{longitude},#{latitude},#{province},#{city},#{district},#{address},#{place})
    </insert>

    <select id="getTaskByTid" resultType="com.rescue.team.bean.Task" parameterType="java.lang.String">
        SELECT * FROM rescue_task WHERE tid = #{tid}
    </select>

    <select id="getTaskByCode" resultType="com.rescue.team.bean.Task" parameterType="java.lang.String">
        SELECT * FROM rescue_task WHERE code = #{code}
    </select>

    <update id="changeTask" parameterType="com.rescue.team.bean.Task" >
        UPDATE rescue_task
        <set>
            <if test=" code != null">
                code = #{code},
            </if>
            <if test=" start != null">
                start = #{start},
            </if>
            <if test=" end != null">
                end = #{end},
            </if>
            <if test=" eid != null">
                eid = #{eid},
            </if>
            <if test=" description != null">
                description = #{description},
            </if>
            <if test=" longitude != null" >
                longitude = #{longitude},
            </if>
            <if test=" latitude != null" >
                latitude = #{latitude},
            </if>
            <if test=" province != null" >
                province = #{province},
            </if>
            <if test=" city != null" >
                city = #{city},
            </if>
            <if test=" district != null" >
                district = #{district},
            </if>
            <if test=" address != null" >
                address = #{address},
            </if>
            <if test=" place != null" >
                place = #{place}
            </if>
        </set>
        WHERE tid = #{tid}
    </update>

    <delete id="deleteTask" parameterType="java.lang.String" >
        DELETE FROM rescue_task WHERE tid = #{tid}
    </delete>

    <select id="getGoingTasksByDistrict" resultType="com.rescue.team.bean.Task" parameterType="java.lang.String">
        SELECT * FROM rescue_task WHERE district = #{district} AND end is null
    </select>

</mapper>