<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rescue.team.dao.UserDao">

    <insert id="insertUser" parameterType="com.rescue.team.bean.User">
        INSERT INTO rescue_user
        VALUES (#{uid},#{tel},#{password},#{role},#{picture},#{name},#{gender},#{birthday})
    </insert>

    <select id="getUserByTel" resultType="com.rescue.team.bean.User" parameterType="java.lang.String">
        SELECT * FROM rescue_user WHERE tel = #{tel}
    </select>

    <select id="getUserByUid" resultType="com.rescue.team.bean.User" parameterType="java.lang.String">
        SELECT * FROM rescue_user WHERE uid = #{tel}
    </select>

    <update id="changeUser" parameterType="com.rescue.team.bean.User">
        UPDATE rescue_user
        SET tel = #{tel},role = #{role},picture = #{picture},name = #{name},gender = #{gender},birthday = #{birthday}
        WHERE uid = #{uid}
    </update>

    <update id="changePassword" parameterType="java.lang.String">
        UPDATE rescue_user
        SET password = #{password}
        WHERE uid = #{uid}
    </update>

    <delete id="deleteUser" parameterType="java.lang.String">
        DELETE FROM rescue_user WHERE uid = #{uid}
    </delete>

    <update id="notVolunteer" parameterType="java.lang.String">
        UPDATE rescue_user
        SELECT role = 0
        WHERE uid = #{uid}
    </update>
</mapper>