<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rescue.team.dao.VolunteerDao">

    <insert id="insertVolunteer" parameterType="com.rescue.team.bean.Volunteer">
        INSERT INTO rescue_volunteer
        VALUES (#{vid},#{tel},#{name},#{status},#{gender},#{profession},#{transportation},#{front_card},#{back_card},#{longitude},#{latitude},#{province},#{city},#{district},#{address},#{place})
    </insert>

    <select id="getVolunteerByVid" resultType="com.rescue.team.bean.Volunteer">
        SELECT * FROM rescue_volunteer WHERE vid = #{vid}
    </select>

    <select id="getVolunteerByTel" resultType="com.rescue.team.bean.Volunteer">
        SELECT * FROM rescue_volunteer WHERE tel = #{tel}
    </select>

    <update id="changeVolunteer" parameterType="com.rescue.team.bean.Volunteer">
        UPDATE rescue_volunteer
        <set>
            <if test=" tel != null">
                tel = #{tel},
            </if>
            <if test=" name != null">
                name = #{name},
            </if>
            <if test=" status != null">
                status = #{status},
            </if>
            <if test=" gender != null">
                gender = #{gender},
            </if>
            <if test=" profession != null">
                profession = #{profession},
            </if>
            <if test=" transportation != null">
                transportation = #{transportation},
            </if>
            <if test=" front_card != null">
                front_card = #{front_card},
            </if>
            <if test=" back_ground != null">
                back_ground = #{back_ground},
            </if>
            <if test=" longitude != null" >
                longitude = #{longitude},
            </if>
            <if test=" latitude != null" >
                latitude = #{latitude},
            </if>
            <if test=" province != null" >
                province = #{province},
            </if>
            <if test=" city != null" >
                city = #{city},
            </if>
            <if test=" district != null" >
                district = #{district},
            </if>
            <if test=" address != null" >
                address = #{address},
            </if>
            <if test=" place != null" >
                place = #{place}
            </if>
        </set>
        WHERE vid = #{vid}
    </update>

    <delete id="deleteVolunteer" parameterType="java.lang.String">
        DELETE FROM rescue_volunteer WHERE vid = #{vid}
    </delete>

    <update id="passVerification" parameterType="java.lang.String">
        UPDATE rescue_volunteer
        SET status = 1
        WHERE vid = #{vid}
    </update>

    <update id="beBusy" parameterType="java.lang.String">
        UPDATE rescue_volunteer
        SET status = 2
        WHERE vid = #{vid}
    </update>

    <update id="beIdle" parameterType="java.lang.String">
        UPDATE rescue_volunteer
        SET status = 1
        WHERE vid = #{vid}
    </update>

    <update id="beFault" parameterType="java.lang.String">
        UPDATE rescue_volunteer
        SET status = 3
        WHERE vid = #{vid}
    </update>

    <select id="getTelsByDistrict" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT tel FROM rescue_volunteer WHERE district = #{district}
    </select>

    <select id="getCountByDistrict" resultType="java.lang.Integer" parameterType="java.lang.String" >
        SELECT COUNT(*) FROM rescue_volunteer WHERE district = #{district}
    </select>

    <select id="getTelsByCity" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT tel FROM rescue_volunteer WHERE city = #{city}
    </select>

    <select id="getCountByCity" resultType="java.lang.Integer" parameterType="java.lang.String" >
        SELECT COUNT(*) FROM rescue_volunteer WHERE city = #{city}
    </select>

</mapper>